

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
 /* position: relative;
  padding-bottom: 3rem;
  min-height: 100vh;*/

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.text-events{
    color: #d63384 !important;
}

#header img {
    width: 80px;
  }
  
#main .carousel-inner img {
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(70%);
  }
  
#carousel {
    position: relative;
  }
  
  .btn-events {
    background-color: #d63384;
    color: white;
    
  }
  
  .btn-events:hover {
    background-color: #d63384;
  }
  

#footer  {
  background-color: #d63384;
    color: #fff;
    margin-top: auto;
   /* text-align: left;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;*/
  }

  .text-events-footer{
    color: #d63384 !important;
}
 
 .table-active{
  background-color: #d63384
 }

 .table-field{
   color: #fff;
 }

 .title{
   margin-top: 80px;
 }


 .card{
   margin-left: 2rem;
   transition:transform .2s linear;
   display: flex;
   align-items: center;
 }

.card:hover{
  transform:scale(1.1,1.1)
}

.card-img-top{
  position:relative;
  width: 15rem;
  height: 10rem;
  margin:5px;
  margin-top:1rem;
}