

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden ;
}

.container-fluid{
  width: 100%;
}

.text-events{
    color: #d63384 !important;
}

#header img {
    width: 100%;
  }
  
#main .carousel-inner img {
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(70%);
  }
  
#carousel {
    position: relative;
  }

  .flex-caption p{
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    font-size: 20px;
    color: #d63384;
    font-weight: bold;
  }
  
  .bi bi-search{
    color: #d63384;
  }

  .btn-events {
    background-color: #d63384;
    color: white;
    
  }
  
  .btn-events:hover {
    background-color: #d63384;
  }
  

#footer  {
  background-color: #d63384;
    color: #fff;
    margin-top: auto;
  }

  .text-events-footer{
    color: #d63384 !important;
}
 
 .table-active{
  background-color: #d63384;
 }

 .table-field{
   color: #fff;
 }

 .title{
   margin-top: 80px;
 }
 
.container-card{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: center;
  gap: 2rem;
  padding: 5rem 0;
  overflow: hidden;
  background: #fefefe;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease;
  
}
 .card{
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  width:16.25rem;
  height: 38.75rem;
  cursor: pointer;
  
     
 }

 .card:hover{
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}



.card-img-top{
  position:relative;
  width: 15rem;
  height: 10rem;
  margin:5px;
  margin-top:1rem;
}

#search-and-checkboxes {
  display: flex;
  align-items: center;

}

#checkboxes {
  display: flex;
  padding-left: 1rem;
  gap: 0.5rem;
  margin-right: 0.5rem;
}

.form-check-input[type=checkbox] {
  box-shadow: inset 0 0 1px 2px white;
  background: #d63384;
}

.form-control{
  box-shadow: inset 0 0 1px 2px white;
  background: #d63384;
}


/*======================details==========================*/

.card-details{
  width: 50%;
  margin: auto;
  margin-top: 25px;
  border-radius: 6px;
  overflow: hidden;
  background: #fefefe;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease;
  cursor: pointer; 
}

.card-details:hover{
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.card-details > img{
  width: 100%;
  height: 200px;
}